.footer {
    width: 1200px;
    padding: 0 20px;
    box-sizing: content-box;
}

.grid-footer {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    margin: 3rem auto 72px;
}

.footer-nav {
    margin: 2rem auto;
}

@media screen and (max-width: 1240px) {
    .footer {
        width: 100%;
        box-sizing: border-box;
    }

    .grid-footer {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav a {
        margin: 16px 0 0;
    }
}
