.flex {
    display: flex;
}

.grid {
    display: grid;
}

.list-none {
    list-style: none;
}

.width-100-vw {
    width: 100vw;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.vertical-middle {
    vertical-align: middle;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.p-0 {
    padding: 0;
}

.p-200 {
    padding: 200px 20px;
}

.m-auto {
    margin: 0 auto;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-16 {
    margin-top: 16px;
}

.mt-18 {
    margin-top: 18px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-42 {
    margin-top: 42px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mr-16 {
    margin-right: 16px;
}

.mr-24 {
    margin-right: 24px;
}

.mr-90 {
    margin-right: 90px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-16 {
    margin-left: 16px;
}

.white-color {
    color: $color-white;
}

.grey-color {
    color: $color-grey;
}

.bg-purple {
    background-color: $color-purple;
}

.bg-red {
    background-color: $color-red;
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-main {
    background-image: url('../images/banner.png');
}

.bg-subscribe-1 {
    background-image: url("../images/subscribe_1.png");
}

.bg-subscribe-2 {
    background-image: url("../images/subscribe_2.png");
}

.bg-subscribe-3 {
    background-image: url("../images/subscribe_3.png");
}

.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.bg-artist {
    background-image: url("../images/Morten\ Harket.png");
}
