.grid-discography {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px 50px;
}

.disk-img {
    width: 250px;
    height: 250px;
    vertical-align: middle;
}

.grid-discography div:nth-of-type(4n) {
    margin-right: 50px;
}

@media screen and (max-width: 1240px) {
    .grid-discography {
        grid-template-columns: repeat(2, 1fr);
    }

    .disk-img {
        width: 137px;
        height: 137px;
    }

    .disc-info {
        max-width: 137px;
    }

   .grid-discography div:nth-of-type(2n) {
        margin-right: 50px;
    }
}
