.grid-pricing {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.price-card {
  padding: 0 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.price {
  font-size: 64px;
  font-weight: 400;
  line-height: 1em;

  color: $color-white;
}

.btn-buy {
  width: 100%;
  margin-top: 40px;
  padding: 20px 0;
  border: 1px solid $color-white;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  background: transparent;
}

@media screen and (max-width: 1240px) {
  .grid-pricing {
    grid-template-columns: repeat(1, 1fr);
  }

  .h3-desktop {
    font-size: 16px;
  }
}
